{% extends "accounts/base.html" %}
{% load i18n %}

{% block content %}
<div id="layoutAuthentication_content">
  <main>
    <div class="container-xl px-4">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
          <!-- Social login form-->
          <div class="card my-5">
            <div class="card-body p-5 text-center">
              <div class="h3 fw-light mb-3">Password Confirmation Form</div>

            </div>
            <hr class="my-0" />
            <div class="card-body p-5">
              {% if validlink %}
              <form method="post" action=".">
                {% csrf_token %}
                <div class="mb-3">
                  <label class="text-gray-600 small" for="passwordExample">Password</label>
                  <input class="form-control form-control-solid" type="password" placeholder="" aria-label="Password"
                    aria-describedby="passwordExample" name="new_password1" />
                </div>
                <ul>
                  <li>Your password can’t be too similar to your other personal information.</li>
                  <li>Your password must contain at least 8 characters.</li>
                  <li>Your password can’t be a commonly used password.</li>
                  <li>Your password can’t be entirely numeric.</li>
                </ul>
                <div class="mb-3">
                  <label class="text-gray-600 small" for="passwordExample">Confirm Password</label>
                  <input class="form-control form-control-solid" type="password" placeholder="" aria-label="Password"
                    aria-describedby="passwordExample" name="new_password2" />
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
              </form>

              {% else %}

              <p>Provided link is not valid.</p>

              {% endif %}
            </div>
            <hr class="my-0" />
            <div class="card-body px-5 py-4">
              <div class="small text-center">
                Want to go back?
                <a href="{% url 'accounts:login' %}">Sign In!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}